<div class="product span-14 last">       
    <div class="span-7">
        <img src="@@content.Image@@" class="product-image">
    </div>
    <div class="span-7 last">     
        <h1>@@content.Title@@</h1>
        <div class="price-list">@@content.Product.ListPrice?prefix=Was: £@@</div>
        <div class="price-sell">@@content.Product.SellPrice?prefix=Now: £@@</div>
        <div class="price-saving">@@content.Product.Saving?prefix=Save: £@@</div>
        
        <input type="submit" value="Add to Cart">
        
    </div>
    <div class="span-14 last">        
        <h2>Product Description</h2>
        @@content.Body@@
    </div>
</div>