<div id="home" class="span-16 last">
    <div class="span-16 last">
        <h1>Welcome to @@data._configuration.site.name@@<span style="color:blue">C</span><span style="color:black">e</span><span style="color:red">n</span><span style="color:gold">t</span><span style="color:green">r</span><span style="color:blue">i</span><span style="color:red">c</span></h1>
        @@data._configuration.about.welcome?markdown=true@@
    </div>
    
    <div class="span-16 last">
        <h2>On Sale Now</h2>
        @@loop._content.home?template=items/product-home.html&grid=4@@
    </div>
    
    <div class="span-16 last">
        <h2>About @@data._configuration.site.name@@</h2>
        @@data._configuration.about.long?markdown=true@@
    </div>
</div>
