<div id="features" class="w100" style="height:240px;overflow:hidden">
    <div class="feature" style="background-image: url(images/slide1.jpg)">
        <br>
        <h1>In an English Country Garden...</h1>
        <p>The typical English garden is a haven for all sorts of insects, whether you want it to be or not!</p>
        <p><a href="#">Read our guide to staying pest free this summer</a></p>
    </div>
    <div class="feature" style="background-image: url(images/slide2.jpg)">
        <br>
        <h1>I am a mole and I live in a hole...</h1>
        <p>Read our guide to staying pest free this summer</p>
    </div>
</div>
<!-- Content Starts -->
            <div id="content" class="w100">
                <div class="container">

                    <div class="span-24 last">
                        @@loop.home?template=loops/home-24.html&limit=1@@
                    </div>    
                    <div class="span-18">
                        @@loop.home?template=loops/home-18.html&offset=1@@
                    </div>
                    <div class="span-6 last">
                        <div class="">
                            <h3>Browse</h3>
                            Cat Repellers<br>
                            Insect Control<br>
                            Mole Repellers<br>
                            Mouse Traps<br>
                            <hr>
                            <img class="w100" src="http://dev.pestcontrolcentric.co.uk/core/templates/default/images/google-checkout.jpg">
                            <hr>
                            <h3>Latest Blog Posts</h3>
                            Birmingham named as "Rat Capital" of the UK
                            <hr>
                            <h3>Pest Control Help</h3>
                            How to get rid of mice<br>
                            How to keep cats away<br>
                            How to get rid of insects<br>

                        </div>
                    </div>
                    <div class="span-24">
                        <h4>About Pest Control Centric</h4>
                        <p>Procter Bros. has been manufacturing rodent traps for more than 100 years. With this vast amount of knowledge and experience behind it, Procter Pest-Stop has become the UK’s leading manufacturer and supplier of high quality pest control products.</p>
                        <p>Pest Control Centric have selected the very best from the Procter Bros. range, including the latest in ultrasonic and electromagnetic pest control products, for sale to UK consumers. Procter Bros. pest control products are widely used by professionals, and are now available to you.</p>
                        <p>To help you find the right pest control solution for you, we have also added some of the best help and advice information on pest control from around the internet to our site. Use the links on the left hand side to select type of pest that you are dealing with, or try our full text search to help identify the right pest control product for you.</p>
                    </div>
                </div>

                <div class="container">
                    
                </div>    

            </div>
        <!-- Content Ends -->