<div id="features" class="w100" style="height:240px;overflow:hidden">
    <div class="feature" style="background-image: url(images/slide1.jpg)">
        <br>
        <h1>In an English Country Garden...</h1>
        <p>The typical English garden is a haven for all sorts of insects, whether you want it to be or not!</p>
        <p><a href="#">Read our guide to staying pest free this summer</a></p>
    </div>
    <div class="feature" style="background-image: url(images/slide2.jpg)">
        <br>
        <h1>I am a mole and I live in a hole...</h1>
        <p>Read our guide to staying pest free this summer</p>
    </div>
</div>
<!-- Content Starts -->
            <div id="content" class="w100">
                <div class="container">

                    <div class="span-24 last">
                        @@loop.home?template=loops/home-24.html&limit=1@@
                    </div>    
                    <div class="span-18">
                        @@loop.home?template=loops/home-18.html&offset=1@@
                    </div>
                    <div class="span-6 last">
                        <br>
                        <div class="span-6 last shade">
                            <div class="ppx">
                                <h3>Browse</h3>
                                <ul class="nolist">
                                    @@list.menu.browse.Product?ul-length=5&hidecount=TRUE@@
                                </ul>
                                    
                                <hr>

                                <hr>
                                <h3>Latest Blog Posts</h3>
                                Birmingham named as "Rat Capital" of the UK
                                <hr>
                                <h3>Pest Control Help</h3>
                                How to get rid of mice<br>
                                How to keep cats away<br>
                                How to get rid of insects<br>

                            </div>    
                        </div>
                        <div class="span-6 last">
                            <img class="" src="http://dev.pestcontrolcentric.co.uk/core/templates/default/images/google-checkout.jpg">
                        </div>
                    </div>
                    <div class="span-24">
                        <h4>Shopping at @@data._configuration.site.name@@ Centric</h4>
                        @@snippet.home.aboutus?markdown=true@@
                        
                    </div>
                </div>

                <div class="container">
                    
                </div>    

            </div>
        <!-- Content Ends -->