<div class="search-result span-14 last">
    <div class="span-4">
        <img src="@@content.Image@@">
    </div>
    <div class="span-10 last">
        <div class="title span-10 last"><h2><a href="@@content.URL@@">@@content.Title@@</a></h2></div>
        
        <div class="span-6">
            <div class="price-list">@@content.Product.ListPrice?prefix=Was: £@@</div>
            <div class="price-sell">@@content.Product.SellPrice?prefix=Now: £@@</div>
            <div class="price-saving">@@content.Product.Saving?prefix=Save: £@@</div>
        </div>
        <div class="span-4 last">
            <input type="submit" value="Add to Cart">
        </div>
        
        <div class="teaser span-8 append-2 last">
            @@content.Teaser@@
        </div>
    </div>
</div>