.product-home {
    height: 375px;
}

.product-home h3 {
    font-family: 'Belleza', sans-serif;
    font-size: 14pt;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.product-home .price-sell{
    padding-top: 20px;
}