    <div class="pager">
        @@pager@@
    </div>
    <div>
        <hr>
        <h4>Not what you're looking for? Try some of these recommended sites...</h4>
        <script type="text/javascript"><!--
            google_ad_client = "ca-pub-1543873788475773";
            /* localhost test 2 */
            google_ad_slot = "7344658891";
            google_ad_width = 336;
            google_ad_height = 280;
            //-->
            </script>
            <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
</div>