<div id="page-footer" class="span-24 last">
    <div id="about-us" class="span-16">
        <h4>About Us</h4>
        <p>A patch of suitably keyword laden text goes here</p>
    </div>
    <div class="span-4">
        <h4>Contact Us</h4>
        <ul>
            
        </ul>
    </div>
    <div class="span-4 last">
        <h4>More Info</h4>
        <ul>
            <li>About Us</li>
            <li><a href="?action=page&page=terms-and-conditions">Terms and Conditions</a></li>
            <li>Delivery Policy</li>
            <li><a href="?action=page&page=privacy-policy">Privacy Policy</a></li>
        </ul>
    </div>
</div>