<div id="sidebar-right" class="span-5 last">
    <div id="twitter" class="span-5 last">
        <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 4,
        interval: 30000,
        width: 185,
        height: 300,
        theme: {
            shell: {
            background: '#10097a',
            color: '#ffffff'
            },
            tweets: {
            background: '#ffffff',
            color: '#000000',
            links: '#2a07eb'
            }
        },
        features: {
            scrollbar: false,
            loop: false,
            live: false,
            behavior: 'all'
        }
        }).render().setUser('chrislynch_mwm').start();
        </script>
    </div>
</div>
