<div class="product-home span-5 @@content._islast@@">
    <div class="span-5 last">
        <a href="@@content.URL@@">
            <img src="@@content.Image@@" class="product-image" alt="@@content.Title@@">
        </a>
    </div>
    <div class="span-5 last">
        <div class="span-5 last"><h3><a href="@@content.URL@@">@@content.Title@@</a></h3></div>
        
        <div class="span-5 last">
            <div class="price-list">@@content.Product.WasPrice?prefix=£@@</div>
            <div class="price-sell product-price">@@content.Product.SellPrice?prefix=£@@</div>
            <div class="price-saving">@@content.Product.Saving?prefix=£@@</div>
        </div>
        <div class="span-5 last">
            <!--
            <form action="?action=cart" method="POST">
                <input type="hidden" name="cart.add.ID" value="@@content.ID@@">
                <input type="submit" value="Add to Cart">
            </form>
            -->
        </div>
    </div>
</div>
