<div id="headerheader">
    <div id="headerheadercontainer">
        <div id="logo">
            <h1><a href="/">PestControl.centric</a></h1>
        </div>    
        <div id="cart" class="span-12 last">
            Your basket: 0 items/£0.00 &nbsp;
            <span id="checkout"><a href="#">Ready to checkout?</a></span>
        </div>
    </div>
</div>
<div style="clear:both"></div>

<div class="container-container">

    <div id="header" class="w100">
        <ul class="megamenu">
            @@list.menu.browse.Sections?ul-length=5&hidecount=TRUE@@
            <li>
            <a href="javascript: void(0)">Contact Us</a>
                <div style="width: 350px;">
                    Need to contact us for help and advice?
                    <ul>
                        <li>eMail; </li>
                        <li>Phone: </li>
                        <li>Twitter: </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    