<div id="footer" class="w100">
    <div class="container">
        <div class="span-7 append-1">
            <h5>About Us</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas euismod laoreet. Proin consequat libero non tortor blandit eu aliquet odio volutpat. Quisque at lacus eu nibh interdum rhoncus. Suspendisse iaculis scelerisque sagittis. Morbi placerat libero vel erat tincidunt molestie. Donec ornare imperdiet fermentum. Duis rhoncus blandit ultrices. Phasellus eu lectus lectus. Fusce gravida condimentum sapien, id molestie magna consectetur commodo.</p>
        </div>
        <div class="span-7 append-1">
            <h5>Contact Us</h5>
        </div>
        <div class="span-8 last">
            <h5>Social Networking</h5>
        </div>
    </div>
</div>

<div id="footerfooter" class="w100">
    <div class="container">
        <div class="span-6">
            <h5>Information</h5>
            <ul>
                <li>About Us</li>
                <li>Terms and Conditions</li>
                <li>Privacy Policy</li>
                <li>Cookie Statement</li>
            </ul>
        </div>
        <div class="span-6">
            <h5>Help and Support</h5>
            <ul>
                <li>Shipping Prices</li>
                <li>Customer Services</li>
                <li>Returns Policy</li>
            </ul>
        </div>
        <div class="span-6">
            <h5>Useful Links</h5>
            <ul>
                <li>Pest Control Association UK</li>
            </ul>

        </div>
        <div class="span-6 last">
            <h5>An eCommerceCentric site</h5>
            <p>Pest Control Centric is a part of the <a href="http://www.ecommercecentric.co.uk">eCommerceCentric</a> group of websites.</p>
        </div>
    </div>
</div>

</div>