<div id="footer" class="w100">
    <div class="container">
        <div class="span-7 append-1">
            <h5>About Us</h5>
            @@snippet.footer.aboutus?markdown=true@@
        </div>
        <div class="span-7 append-1">
            <h5>Contact Us</h5>
        </div>
        <div class="span-8 last">
            <h5>Social Networking</h5>
        </div>
    </div>
</div>

<div id="footerfooter" class="w100">
    <div class="container">
        <div class="span-6">
            <h5>Information</h5>
            <ul>
                <li><a href="/?action=page&page=terms-and-conditions" rel="no-follow">Terms and Conditions</a></li>
                <li><a href="/?action=page&page=privacy-policy" rel="no-follow">Privacy Policy</a></li>
                <li>Cookie Statement</li>
            </ul>
        </div>
        <div class="span-6">
            <h5>Help and Support</h5>
            <ul>
                <li>Shipping Prices</li>
                <li>Customer Services</li>
                <li>Returns Policy</li>
            </ul>
        </div>
        <div class="span-6">
            <h5>Useful Links</h5>
            <ul>
                <li>Pest Control Association UK</li>
            </ul>

        </div>
        <div class="span-6 last">
            <h5>An eCommerceCentric site</h5>
            <p>Pest Control Centric is a part of the <a href="http://www.ecommercecentric.co.uk">eCommerceCentric</a> group of websites.</p>
            <p><a href="/?action=page&page=about-us" rel="no-follow">Read more about eCommerce Centric</a></p>
        </div>
    </div>
</div>

</div>