<div class="span-18 last">
                            <h2>@@content.Title@@</h2>
                            @@content.Body@@
                        </div>
                        <div class="span-18 last">
                            <div class="span-6">
                                <div class="border-lr">
                                    <h3>Ultrasonic Cat Repeller</h3>
                                    <img class="w100" src="http://dev.pestcontrolcentric.co.uk/sites/www.pestcontrolcentric.co.uk/images/PS3002.jpg"><br>
                                    RRP: £29.99<br>
                                    Your Price: £20.00<br>
                                    Saving: £9.99 (33%)
                                </div>
                            </div>
                            <div class="span-6">
                                <div class="border-lr">
                                    <h3>Ultrasonic Cat Repeller</h3>
                                    <img class="w100" src="http://dev.pestcontrolcentric.co.uk/sites/www.pestcontrolcentric.co.uk/images/PS3002.jpg"><br>
                                    RRP: £29.99<br>
                                    Your Price: £20.00<br>
                                    Saving: £9.99 (33%)
                                </div>
                            </div>
                            <div class="span-6 last">
                                <div class="border-lr">
                                    <h3>Ultrasonic Cat Repeller</h3>
                                    <img class="w100" src="http://dev.pestcontrolcentric.co.uk/sites/www.pestcontrolcentric.co.uk/images/PS3002.jpg"><br>
                                    RRP: £29.99<br>
                                    Your Price: £20.00<br>
                                    Saving: £9.99 (33%)
                                </div>
                            </div>
                        </div>
