<div class="span-6 @@content._islast@@">
    <div class="border-lr">
        <div class="h65px">
            <h3><a href="/@@content.URL@@">@@content.Title@@</a></h3>
        </div>
        <div class="h220px">
            <a href="/@@content.URL@@"><img class="h200px" src="@@content.Image@@"></a><br>
        </div>
        <div class="h95px">
            <div class="price-sell product-price">@@content.Product.SellPrice?prefix=£@@</div>
            <div class="price-list">@@content.Product.WasPrice?prefix=Normally: £@@</div>
            <div class="price-saving">@@content.Product.Saving?prefix=Save: £@@</div>
        </div>
        <form method="POST" action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/627458445324618" accept-charset="utf-8">
            <input type="hidden" name="item_name_1" value="@@content.Title@@"/>
            <input type="hidden" name="item_description_1" value="@@content.Title@@"/>
            <input type="hidden" name="item_quantity_1" value="1"/>
            <input type="hidden" name="item_price_1" value="@@content.Product.SellPrice@@"/>
            <input type="hidden" name="item_currency_1" value="GBP"/>
            <input type="hidden" name="_charset_"/>

            <input type="image" name="Google Checkout" alt="Fast checkout through Google"
                src="https://checkout.google.com/buttons/buy.gif?merchant_id=627458445324618&w=117&h=48&style=white&variant=text&loc=en_UK"
                height="48" width="117"/>
        </form>
    </div>
</div>
<!--
<div class="product-home span-4 @@content._islast@@">
    <div class="product-image-container span-4 last">
        <a href="@@content.URL@@">
            <img src="@@content.Image@@" class="product-image" alt="@@content.Title@@">
        </a>
    </div>
    <div class="span-4 last">
        <div class="span-4 last"><h3><a href="@@content.URL@@">@@content.Title@@</a></h3></div>
        
        <div class="span-4 last">
            <div class="price-sell product-price">@@content.Product.SellPrice?prefix=£@@</div>
            <div class="price-list">@@content.Product.WasPrice?prefix=Normally: £@@</div>
            <div class="price-saving">@@content.Product.Saving?prefix=Save: £@@</div>
        </div>
        <div class="span-4 last">
            <form action="?action=cart" method="POST">
                <input type="hidden" name="cart.add.ID" value="@@content.ID@@">
                <input type="submit" value="Add to Cart">
            </form>
        </div>
    </div>
</div>
-->